bookmarks
eshell/
auto-save-list/
eln-cache/
elpa/
transient/
projects
.lsp-session-v1
*~
ido.last
tramp
tramp/
.cache/
straight/
.org-id-locations
init.el.back
places
notebook-mode
projectile-bookmarsk.eld
projectile-bookmarks.eld
org-roam.db
recentf
/_region_.log
/_region_.tex
